
@{
    ViewBag.Title = "Farmacias:::Micky";
}

<h2></h2>
<div class="row text-center">
    <div class="col-sm-push-4 col-sm-4">
        <h2>Farmacias Micky</h2>
        <img src="~/Imagenes/medicamentos-falsos.jpg" class="img-circle img-responsive" />
        <h3>Cuida tu Economía</h3>
    </div>
</div>
